<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                {{ title }} Driver
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <span class="m-nav__link-text">
                        {{ title }} Driver
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <!--begin::Form-->
                <form [formGroup]="driverForm" (ngSubmit)="save()" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="m_form_1">
                    <div class="m-portlet__body">
                        <input type="hidden" formControlName="id">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>
                                    Company Name:
                                </label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select id="org" class="hideLabel form-control" (change)="onOrgChange();" formControlName="orgId">
                                        <option value="">Select Company</option>
                                        <option *ngFor="let org of company" value="{{org.id}}">
                                            {{org.name}}
                                        </option>
                                    </select>
                                </div>
                                <span class="m-form__help">
                                    Please select Company Name
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label>
                                    Branch Name:
                                </label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select id="suborg" class="hideLabel form-control" (change)="onSubOrgChange();" formControlName="subOrgId">
                                        <option value="">Select Branch</option>
                                        <option *ngFor="let sub of branch" value="{{sub.id}}">
                                            {{sub.name}}
                                        </option>
                                    </select>
                                </div>
                                <span class="m-form__help">
                                    Please select Branch Name
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>
                                    Driver Code:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter Driver Code" formControlName="code">
                                <span class="m-form__help">
                                    Please enter Driver Code
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label class="">
                                    Driver Name:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter Driver Name" formControlName="name">
                                <span class="m-form__help">
                                    Please enter Driver Name
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>
                                    Date of Birth:
                                </label>
                                <div class="input-group date">
                                    <input type="text" 
                                           class="form-control m-input" 
                                           readonly 
                                           placeholder="Select Date of Birth" 
                                           id="m_datetimepicker_1" 
                                           formControlName="dateOfBirth"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o glyphicon-th"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="m-form__help">
                                    Please Select Date of Birth
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label class="">
                                    Date of Joining:
                                </label>
                                <div class="input-group date">
                                    <input type="text" class="form-control m-input" readonly placeholder="Select Date of Joining" id="m_datetimepicker_2" formControlName="dateOfJoining" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o glyphicon-th"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="m-form__help">
                                    Please Select Date of Joining
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>
                                    Citizenship No.:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter Citizenship No" formControlName="citizenshipNo">
                                <span class="m-form__help">
                                    Please enter Citizenship No.
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label class="">
                                    Issue Date:
                                </label>
                                <div class="input-group date">
                                    <input type="text" class="form-control m-input" readonly placeholder="Select Date of Issue" id="m_datetimepicker_3" formControlName="csnIssueDate" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o glyphicon-th"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="m-form__help">
                                    Please Select IssueDate
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label>
                                    Driving License No.:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter Driver License No." formControlName="licenseNo">
                                <span class="m-form__help">
                                    Please enter Driving License No.
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label class="">
                                    Issue Date:
                                </label>
                                <div class="input-group date">
                                    <input type="text" class="form-control m-input" readonly placeholder="Select Date of Issue" id="m_datetimepicker_4" formControlName="issueDate" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o glyphicon-th"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="m-form__help">
                                    Please Select IssueDate
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label>
                                    Valid Upto:
                                </label>
                                <div class="input-group date">
                                    <input type="text" class="form-control m-input" readonly placeholder="Valid Upto" id="m_datetimepicker_5" formControlName="validUpto" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o glyphicon-th"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="m-form__help">
                                    Please Select Valid Upto Date
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label class="">
                                    Unit No.:
                                </label>
                                <input type="text" class="form-control m-input" placeholder="Enter Unit No." formControlName="unitNo">
                                <span class="m-form__help">
                                    Please enter Unit No.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">
                                        {{title}} Driver
                                    </button>
                                    <button type="reset" class="btn btn-secondary">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
